/* Carousel.css */
.carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  z-index: 1;
  flex: 0 0 100%;
}

.carousel-item-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* Ensures all images are in a single row */
  gap: 10px; /* Space between images */
}

.image-container {
  width: 16.66%; /* 6 items per row */
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-title {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(208, 206, 206, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 55px;
  margin-top: 0px !important;
}

/* ImageContainer.css */
.image-container {
  width: 16.66%; /* Ensures 6 images per row */
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-title {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
  color: white;
  padding: 10px; /* Reduced padding to fit better */
  text-align: center;
  border-bottom-right-radius: 55px;
  margin-top: 10px; /* Space between image and title */
}
